<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>
<div>
  <%= image_tag @image.content.url %>
</div>

<p>
  <%= link_to 'back', gadget_images_path(@gadget) %>
  <%= link_to 'edit', edit_gadget_image_path(@gadget, @image) %>
  <%= link_to 'destroy', gadget_image_path(@gadget, @image), method: :delete %>
</p>